{
    "token": "token_here",
    "admin_list": [0],
    "open_lobby": true,
    "enable_translations": false,
    "workers": 32,
    "default_gamemode": "fast",
    "waiting_time": 120,
    "time_removal_after_skip": 20,
    "min_fast_turn_time": 15,
    "min_players": 2
}
